@import 'tailwindcss';
@plugin "daisyui";

:root {
  --background-color: #161616;
  --text-color: #fefefe;
  --primary-color: #a02b66;
  --secondary-color: #3e15ba;
  --third-color: #d8775f;
  --border-color: rgba(255, 255, 255, 0.15);
}

@layer base {
  body {
    @apply bg-[var(--background-color)] text-[var(--text-color)];
  }

  * {
    @apply border-[var(--border-color)];
  }
}
